/* Small device */
@media screen and (max-width: 576px) {
  .hero-section {
    flex-direction: column-reverse;
  }
  .hero-content {
    width: 100%;
  }
  .hero-image {
    width: 100%;
  }
  .hero-image img {
    width: 100%;
  }
  .hero-content h1 {
    font-size: 2.75rem;
  }
}

/* Medium Device */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .hero-section {
    flex-direction: column-reverse;
  }
  .hero-content {
    width: 100%;
  }
  .hero-image {
    width: 100%;
  }
  .hero-image img {
    width: 80%;
  }
  .hero-content h1 {
    font-size: 2.75rem;
  }
}
