/* Google fonts CDN */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yeseva+One&display=swap");

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.yeseva-one {
  font-family: "Yeseva One", serif;
  font-weight: 400;
}

/* Universal style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Shared style */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading-primary {
  font-size: 3rem;
  font-weight: 700;
  color: #13103a;
}
.heading-secondary {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333333;
  margin-bottom: 18px;
}
.description-primary {
  font-size: 1.125rem;
  color: #3e3e3e;
  margin-bottom: 20px;
}
span {
  color: #ffad5a;
}
.btn-primary {
  border: none;
  border-radius: 5px;
  background-color: #ff5959;
  padding: 12px 30px;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
.btn-primary:active {
  box-shadow: none;
  transform: scale(1.03);
}

/* Header section style */
.hero-section {
  gap: 50px;
}
.hero-content {
  width: 50%;
}
.hero-content h1 {
  font-size: 3.75rem;
  margin-bottom: 15px;
}
.hero-image {
  width: 50%;
  display: inline-block;
}
.hero-image img {
  max-width: 426px;

  display: block;
}
#scroll-down {
  font-size: 1rem;
  color: #434343;
  margin-top: 33px;
}

/* My mission section style */
.mission-section-container {
  text-align: center;
  margin-top: 60px;
}
.mission-card-container {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  gap: 1.5rem;
}
.mission-card {
  padding: 30px;
  border-radius: 26px;
}
#card1 {
  background-color: #4f9da61a;
}
#card2 {
  background-color: #ff59591a;
}
#card3 {
  background-color: #fff4d6;
}
.card-image {
  width: 141px;
  height: 141px;
  margin-bottom: 12px;
}
.card-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}
.card-details {
  color: #424242;
}

/* Develop & Community section style */
.develop-container,
.community-container {
  gap: 72px;
  margin-top: 85px;
}
.community-image,
.develop-image {
  position: relative;
}
#shape-image {
  position: absolute;
  top: 54px;
  left: -90px;
  z-index: -1;
  max-width: 227px;
}
#shape-image2 {
  position: absolute;
  bottom: -74px;
  right: -90px;
  z-index: -1;
  max-width: 227px;
}
.develop-image,
.community-image {
  max-width: 400px;
}
.develop-image img,
.community-image img {
  width: 100%;
}

/* Corona section style */
.corona-section {
  margin-top: 85px;
  text-align: center;
}
.corona-container {
  gap: 20px;
  padding: 79px 0 0 100px;
}
.corona-content {
  text-align: left;
  width: 50%;
}
.corona-image {
  position: relative;
  max-width: 230px;
  margin: 56px 38px 27px 71px;
}
.corona-image img {
  width: 100%;
}
#corona-shape1 {
  max-width: 147px;
  position: absolute;
  top: -30px;
  left: -45px;
  z-index: -1;
}
#corona-shape2 {
  max-width: 77px;
  position: absolute;
  bottom: 80px;
  right: -15px;
  z-index: -1;
}
#corona-shape3 {
  position: absolute;
  max-width: 77px;
  bottom: 10px;
  left: -15px;
  z-index: -1;
}

/* Footer section style */
footer {
  margin-top: 50px;
  background-color: #0b0d17;
  padding: 45px 0;
}
.footer-container {
  text-align: center;
}
.footer-title {
  font-style: italic;
  color: white;
  margin-bottom: 24px;
}
.footer-title span {
  color: #ff5959;
}
.footer-details {
  color: #d9dbe1;
  font-size: 0.875rem;
}
