/* Google fonts CDN */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yeseva+One&display=swap");

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.yeseva-one {
  font-family: "Yeseva One", serif;
  font-weight: 400;
}

/* Universal style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Shared style */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading-primary {
  font-size: 3rem;
  font-weight: 700;
  color: #13103a;
}
.description-primary {
  font-size: 1.125rem;
  color: #3e3e3e;
}
span {
  color: #ffad5a;
}

/* Header section style */
.hero-section {
  /* flex: 1; */
}
